button {
  border-radius: .2rem;
  transform: translateX(-50%);
  box-shadow: 0 1px 10px 0 rgba(238, 77, 46, 0.60), 0 10px 40px 2px rgba(238, 77, 46, 0.50);
}

input {
  border-radius: 0;
  border-width: 0;
  padding: 1.5rem;
}

.input-holder {
  width: 30rem;
  border-radius: .2rem;
  overflow: hidden;
}

.input-divider {
  background: #e1e1e1;
  height: 1px;
  width: 100%;
}
