<div class="d-flex h-100 w-100 justify-content-center align-items-center">
  <div class="d-flex flex-column align-items-center">
    <img src="https://pr0gramm.com/media/pr0gramm-favicon.png" height="64px" width="64px"/>
    <h3 class="text-light mt-3">Mit Pr0gramm Account anmelden um zu starten</h3>
    <div class="d-flex align-items-center mt-5">
      <div class="input-holder">
        <input nz-input placeholder="Nutzername" type="text">
        <div class="input-divider"></div>
        <input nz-input placeholder="Passwort" type="password">
      </div>
      <button nz-button nzType="primary" nzSize="large" (click)="login()">Login</button>
    </div>
  </div>
</div>
