<nz-table class="w-100 text-light" nzNoResult="Es konnten keine Spiele gefunden werden" [nzBordered]="false">
  <thead style="table-layout: fixed;">
    <tr class="pr-3 pl-3">
      <th>typ</th>
      <th>name</th>
      <th>spieler</th>
      <th>runden</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="game-list">
    <tr *ngFor="let i of [1, 2, 3, 4, 5, 6 ,7, 8]">
      <td class="font-shadow"><fa-icon icon="lock" class="mr-2 table-icon-color"></fa-icon>Privat</td>
      <td class="font-shadow">Die Lobby der Fettsäcke</td>
      <td class="font-shadow">
        <fa-icon class="table-icon-color mr-2" icon="user"></fa-icon>
        <fa-icon class="table-icon-color mr-2" icon="user"></fa-icon>
        <fa-icon class="table-icon-color mr-2" icon="user"></fa-icon>
        <fa-icon class="color-standard mr-2" icon="user"></fa-icon>
        <fa-icon class="color-standard mr-2" icon="user"></fa-icon>
        +0
      </td>
      <td class="font-shadow">
        <nz-progress [nzPercent]="35" class="mr-2" nzGapPosition="bottom" [nzStrokeWidth]="8" [nzFormat]="getRounds" nzType="circle" nzType="circle" [nzWidth]="35"></nz-progress>
      </td>
      <td>
        <button class="game-button mr-4"><fa-icon icon="gamepad" class="mr-2"></fa-icon>join</button>
        <button class="game-button"><fa-icon icon="eye" class="mr-2"></fa-icon>view</button>
      </td>
    </tr>
  </tbody>
</nz-table>
